<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-desktop "></i>Dashboard
        <% end %>
      </li>
    </ul>
  </div>
</nav>
